*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
font-family:Poppins,sans-serif;
}

body{
background:#f4f4f4;
color:#333;
}

header{
position:fixed;
width:100%;
background:#222;
padding:15px 10%;
z-index:1000;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
color:white;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
text-decoration:none;
color:white;
transition:.3s;
}

nav ul li a:hover{
color:#00d9ff;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#00b4db,#0083b0);
color:white;
text-align:center;
}

.hero h1{
font-size:55px;
}

.hero span{
color:yellow;
}

#skills{
    background:linear-gradient(135deg,#94e8c2,#2dd254);
}



#resume{
    background:linear-gradient(135deg,#f6d365,#fda085);
}


.btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:white;
color:#0083b0;
text-decoration:none;
border-radius:30px;
transition:.3s;
}

.btn:hover{
background:#222;
color:white;
transform:scale(1.05);
}

.section{
padding:100px 10%;
text-align:center;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
margin-top:40px;
}

.card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,.1);
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
background:#00b4db;
color:white;
}

.project-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
margin-top:30px;
}

.project{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,.1);
transition:.4s;
}

.project:hover{
transform:scale(1.05);
}

footer{
background:#222;
color:white;
text-align:center;
padding:20px;
}

.reveal{
opacity:0;
transform:translateY(80px);
transition:1s;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}

@media(max-width:768px){

.hero h1{
font-size:35px;
}

nav{
flex-direction:column;
}

nav ul{
margin-top:10px;
flex-wrap:wrap;
justify-content:center;
}

}